@font-face {
  font-family: 'openSans-Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-SemiboldItalic';
  src: url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-BoldItalic';
  src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-CondBold';
  src: url('../fonts/OpenSans-CondBold.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-CondLight';
  src: url('../fonts/OpenSans-CondLight.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-CondLightItalic';
  src: url('../fonts/OpenSans-CondLightItalic.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-ExtraBoldItalic';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-Italic';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'openSans-LightItalic';
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype') /* Safari, Android, iOS */
}

body{font-family: 'openSans-Semibold'; margin: 0;}
.no-padding{padding: 0 !important;}
.navbar{background: rgba(0,0,0,0.05);color: #ffffff;}
.logo-title{padding-top: 5px;padding-bottom: 5px;}
.right-pad{padding-right: 15px;}
.left-pad{padding-left: 15px;}
.top-pad{padding-top: 15px;}
.bottom-pad{padding-bottom: 15px;}
.title-font{font-size: 24px;}
.mid-font{font-size: 20px;}
.row{display:flex;flex-wrap:wrap;}
.col-1{flex:0 0 8.333333%;max-width:8.333333%;}
.col-2{flex:0 0 16.666667%;max-width:16.666667%}
.col-3{flex:0 0 25%;max-width:25%}
.col-4{flex:0 0 33.333333%;max-width:33.333333%}
.col-5{flex:0 0 41.666667%;max-width:41.666667%}
.col-6{flex:0 0 50%;max-width:50%}
.col-7{flex:0 0 58.333333%;max-width:58.333333%}
.col-8{flex:0 0 66.666667%;max-width:66.666667%}
.col-9{flex:0 0 75%;max-width:75%}
.col-10{flex:0 0 83.333333%;max-width:83.333333%}
.col-11{flex:0 0 91.666667%;max-width:91.666667%}
.col-12{flex:0 0 100%;max-width:100%}

.section-1,
.section-8,
.section-4{
    display: flex;
    color: #fff;
    text-align: center;
    position: relative;
}

.topnav {
    overflow: hidden;
    background-color: #33333317;
    text-align: right;
    position: absolute;
    width: 100%;
    top: 0;
}

.topnav a:first-child {
  float: left;
  line-height: 0
}

.topnav a{
  text-transform: uppercase;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: openSans-Regular
  font-size: 16.318px;
  line-height: 2.502;
  text-align: center;
  z-index: 28;
}

#cart-icon img, #search-icon img{
  height: 22px;
}

#cart-icon{
  padding-right: 50px; 
}

.topnav a:hover {
  /*background-color: #ddd;*/
  color: white;
}

.active {
  /*background-color: #4CAF50;*/
  color: white;
}

.topnav .icon {
  display: none;
}


.section-2, .section-7, .section-9, .section-5{
  margin: 0 auto;
  max-width: 96%;

  margin-bottom: 2%;
}

.section-2 .row:first-child, .section-7 .row:first-child, .section-9 .row:first-child, .section-5 .row:first-child{
  background-color: #e8e8e8;
  border-radius: 12px;
  height: auto;
}

.left-img, .right-img{
    height: 100%;
    width: 100%;
}

.left-img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.right-img{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.section-text{
    margin-top: 8%;
    font-family: "openSans-ExtraBold";
    color: rgb(181, 181, 181);
    font-weight: bold;
    line-height: 1;
    z-index: 41;
}

.capitalize{
    text-transform: uppercase;
}

.breakfast_text {
    font-size: 50px;
  }

  .snacking_text{
    font-size: 70px;
  }

  .paragraph{
        font-size: 18px;
    line-height: 1.5;
    font-family: "openSans-Light";
  }

  .appliances_text{
    font-size: 43px;
  }
.internal-text{
  padding: 10%;
}
.item, .footer ul.card-section li, .footer-service li{
  display: inline-block;
    list-style: none;
}
.footer ul.card-section{
  text-align: center;
  width: 100%;
}

.footer ul.card-section li{
  padding-right: 2%;
}

.footer-service{
  font-family: "openSans-Regular"; 
  color: #989898;
  text-align: center;   
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-service li{
  padding-right: 1%;
}

.footer .row{
  margin-top: 1%;
  margin-bottom: 1%;
}

.copyrights{
  text-align: center;
    font-family: "openSans-Regular"; 
    color: #989898;
    width: 100%;
    margin-bottom: 2%;
}

.section-4-text{
    text-align: center;
    margin-top: 35%;
    font-size: 54px;
    text-transform: uppercase;
}

.section-4-right-text{
  font-family: "openSans-ExtraBold"
}

.section-4-sign{
  font-family: "openSans-CondLightItalic";
  text-align: center;
  margin-left: 43%;
  text-transform: capitalize;
  font-size: 24px;
}

/*Kamlesh Code Start*/
.overlapImg img{
  width: 100%;
  display: inline-block;

}
.handSecContent{
  position: absolute;
    width: 100%;
    top: 0;
}
.handSecContent .col-6{
  margin-top:10%;
}
.handSecContent .col-6:first-child{
  padding-left: 3%;
  float: left;
}
.handSecContent .col-6:last-child{
  padding-right: 3%;
  float: right;
}

.section-4, .section-7, .section-9, .section-5,.section-8{
  margin-bottom: 2%;
}
/*Kamlesh Code End*/



@media screen and (max-width: 768px) {
  .container{width: 100%;}
  .col-6{flex:0 0 100%;max-width:100%}
  .section-text{
    position: absolute;
    color: #fff;
    margin-top: 23%;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {  
    float: right;
    display: block;
  }
  .section-4-text {
    font-size: 30px;
     margin-top: 50%;
  }
  .section-4-sign{
    font-size: 15px;
  }
  .snacking_text{
    font-size: 35px;
  }
  .breakfast_text {
      font-size: 26px;
  } 
  .paragraph{font-size: 12px;}
  .topnav{background-color: #000;z-index: 99;}
  .left-img,.right-img{border-radius: 12px;}
  .handSecContent .col-6{margin-top: 0}
  .footer-service li{padding:3%;}
}

@media screen and (max-width: 600px) {
  .container{width: 100%;}
  .col-6{flex:0 0 100%;max-width:100%}
  .section-text{
    position: absolute;
    color: #fff;
    margin-top: 23%;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {  
    float: right;
    display: block;
  }
  .section-4-text {
    font-size: 15px;
  }
  .section-4-sign{
    font-size: 12px;
  }
  .snacking_text{
    font-size: 35px;
  }
  .breakfast_text {
      font-size: 26px;
  } 
  .internal-text{padding:5%;}
  .paragraph{font-size: 12px;}
  .topnav{background-color: #000;z-index: 99;}
  .left-img,.right-img{border-radius: 12px;}
  .handSecContent .col-6{margin-top: 0}
}
